@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

    @model CRUD_Persona_Entidades.clsDepartamento
}

<label> @Model.ID</label>
<label> @Model.Nombre</label>
